{% spaceless %}
    <!DOCTYPE html>
    <html lang="{{ app.request.locale|slice(0, 2) }}" class="js csstransitions">
        <head>
            {% include 'AppSiteBundle::pagelayout/page_head.html.twig' %}
            {% include 'AppSiteBundle::pagelayout/page_head_for_ie.html.twig' %}
            {% include 'AppSiteBundle::pagelayout/page_head_script.html.twig' %}
        </head>
        <body id="page-top" data-spy="scroll" data-target="#mainNav">
            {% block content %}{% endblock %}
            {% include 'AppSiteBundle::pagelayout/page_footer_script.html.twig' %}
        </body>
    </html>
    {% include 'AppSiteBundle::pagelayout/page_head_style.html.twig' %}
{% endspaceless %}